<a href="https://colab.research.google.com/github/aakanksha32173/Pandas/blob/main/Concat%26Merge_DFs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
india_weather={
    "city":["mumbai","delhi","Banglore"],
    "temp":[32,45,40],
    "humidity":[80,6,78]
}
df1=pd.DataFrame(india_weather)
df1

In [2]:
us_weather={
    'city':["New York","Chicago","Orlando"],
    'temp':[21,24,34],
    'humidity':[68,65,76]
}
df2=pd.DataFrame(us_weather)
df2

       city  temp  humidity
0  New Year    21        68
1   Chicago    24        65
2   Orlando    34        76

In [5]:
df=pd.concat([df1,df2],ignore_index=True)
df

       city  temp  humidity
0    mumbai    32        80
1     delhi    45         6
2  Banglore    40        78
3  New Year    21        68
4   Chicago    24        65
5   Orlando    34        76

In [6]:
df=pd.concat([df1,df2])
df

       city  temp  humidity
0    mumbai    32        80
1     delhi    45         6
2  Banglore    40        78
0  New Year    21        68
1   Chicago    24        65
2   Orlando    34        76

In [7]:
df=pd.concat([df1,df2],keys=['India','USA'])
df

             city  temp  humidity
India 0    mumbai    32        80
      1     delhi    45         6
      2  Banglore    40        78
USA   0  New Year    21        68
      1   Chicago    24        65
      2   Orlando    34        76

In [9]:
df.loc['India']

       city  temp  humidity
0    mumbai    32        80
1     delhi    45         6
2  Banglore    40        78

In [13]:
temp_df=pd.DataFrame({
    "temp":[32,45,40],
    "humidity":[80,6,78]
}
)
temp_df

   temp  humidity
0    32        80
1    45         6
2    40        78

In [12]:
wind_df=pd.DataFrame({
    "temp":[32,45,40],
    "windspeed":[8,6,7]
}
)

In [14]:
df3=pd.concat([temp_df,wind_df])
df3

   temp  humidity  windspeed
0    32      80.0        NaN
1    45       6.0        NaN
2    40      78.0        NaN
0    32       NaN        8.0
1    45       NaN        6.0
2    40       NaN        7.0

In [15]:
df4=pd.concat([temp_df,wind_df],axis=1)
df4

   temp  humidity  temp  windspeed
0    32        80    32          8
1    45         6    45          6
2    40        78    40          7

In [22]:
temp=pd.DataFrame({
    "city":["mumbai","delhi","Banglore"],
    "temp":[32,45,40]},index=[0,1,2])
temp

       city  temp
0    mumbai    32
1     delhi    45
2  Banglore    40

In [23]:
wind=pd.DataFrame({
    "city":["delhi","mumbai","Banglore"],
    "wind":[32,45,40]},index=[1,0,2])
wind

       city  wind
1     delhi    32
0    mumbai    45
2  Banglore    40

In [24]:
df5=pd.concat([temp,wind],axis=1)
df5

       city  temp      city  wind
0    mumbai    32    mumbai    45
1     delhi    45     delhi    32
2  Banglore    40  Banglore    40

In [25]:
temp

       city  temp
0    mumbai    32
1     delhi    45
2  Banglore    40

In [26]:
s=pd.Series(["humid",'dry','rain'],name="event")
s

0    humid
1      dry
2     rain
Name: event, dtype: object

In [27]:
df_final=pd.concat([temp,s],axis=1)
df_final

       city  temp  event
0    mumbai    32  humid
1     delhi    45    dry
2  Banglore    40   rain

In [31]:
#Merging Two dataFrame
temp=pd.DataFrame({
    "city":["mumbai","delhi","Banglore",'Pune'],
    "temp":[32,45,40,76]})
wind=pd.DataFrame({
    "city":["delhi","mumbai","Banglore","hyderabad"],
    "wind":[32,45,40,21]})
df6=pd.merge(temp,wind,on="city")
df6

       city  temp  wind
0    mumbai    32    45
1     delhi    45    32
2  Banglore    40    40

In [32]:
df7=pd.merge(temp,wind,how="outer")
df7

        city  temp  wind
0     mumbai  32.0  45.0
1      delhi  45.0  32.0
2   Banglore  40.0  40.0
3       Pune  76.0   NaN
4  hyderabad   NaN  21.0

In [33]:
df8=pd.merge(temp,wind,how="left")
df8

       city  temp  wind
0    mumbai    32  45.0
1     delhi    45  32.0
2  Banglore    40  40.0
3      Pune    76   NaN

In [34]:
df9=pd.merge(temp,wind,how="right")
df9

        city  temp  wind
0      delhi  45.0    32
1     mumbai  32.0    45
2   Banglore  40.0    40
3  hyderabad   NaN    21

In [35]:
df10=pd.merge(temp,wind,how="right",indicator=True)
df10

        city  temp  wind      _merge
0      delhi  45.0    32        both
1     mumbai  32.0    45        both
2   Banglore  40.0    40        both
3  hyderabad   NaN    21  right_only

In [36]:
india_weather={
    "city":["mumbai","delhi","Banglore"],
    "temp":[32,45,40],
    "humidity":[80,6,78]
}
dff=pd.DataFrame(india_weather)
dff

       city  temp  humidity
0    mumbai    32        80
1     delhi    45         6
2  Banglore    40        78

In [40]:
us_weather={
    'city':["New York","Chicago","delhi"],
    'temp':[21,24,34],
    'humidity':[68,65,76]
}
dff2=pd.DataFrame(us_weather)
dff2

       city  temp  humidity
0  New York    21        68
1   Chicago    24        65
2     delhi    34        76

In [42]:
dff3=pd.merge(dff,dff2,on="city",suffixes=('_left','_right'))
dff3

    city  temp_left  humidity_left  temp_right  humidity_right
0  delhi         45              6          34              76