<a href="https://colab.research.google.com/github/aakanksha32173/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
#Reading a csv file
df=pd.read_csv("/content/weatherHistory.csv")
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [12]:
#Displaying columns of dataframe
df.keys()

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [13]:
#displaying maximum temperature
df['Temperature (C)'].max()

39.90555555555555

In [17]:
#checking dates when it is raining
df['Formatted Date'][df['Precip Type']=='rain']

0        2006-04-01 00:00:00.000 +0200
1        2006-04-01 01:00:00.000 +0200
2        2006-04-01 02:00:00.000 +0200
3        2006-04-01 03:00:00.000 +0200
4        2006-04-01 04:00:00.000 +0200
                     ...
96448    2016-09-09 19:00:00.000 +0200
96449    2016-09-09 20:00:00.000 +0200
96450    2016-09-09 21:00:00.000 +0200
96451    2016-09-09 22:00:00.000 +0200
96452    2016-09-09 23:00:00.000 +0200
Name: Formatted Date, Length: 85224, dtype: object

In [21]:
#calculating average speed of wind
average(df['Wind Speed (km/h)'])

10.810640140793963

In [22]:
#2nd way
df['Wind Speed (km/h)'].mean()

10.810640140793963

In [24]:
#gathering information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [27]:
#checking the number of null values in dataset
df.isnull().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [28]:
#substituting the null values in Precip type with No rain marking inplace=True to reflect changes in original dataframe
df.fillna('No rain',inplace=True)

In [29]:
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [32]:
df.isnull().sum()

Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [33]:
df['Daily Summary'][df['Precip Type']=='No rain']

52672                  Mostly cloudy until night.
52674                  Mostly cloudy until night.
52675                  Mostly cloudy until night.
52677                  Mostly cloudy until night.
52678                  Mostly cloudy until night.
                           ...
95584    Mostly cloudy starting in the afternoon.
95585    Mostly cloudy starting in the afternoon.
95586    Mostly cloudy starting in the afternoon.
95587    Mostly cloudy starting in the afternoon.
95588    Mostly cloudy starting in the afternoon.
Name: Daily Summary, Length: 517, dtype: object

In [37]:
#creating dataframe from a dictionary
weather_data={
    'Day':['1/01/2001','2/02/2001','5/12/2001','6/06/2001'],
    'Temp':['34','45','88','67'],
    'Wind Speed':['32','65','76','76'],
    'Event':['rain','no rain','rain','no rain']
}
df2=pd.DataFrame(weather_data)
df2

         Day Temp Wind Speed    Event
0  1/01/2001   34         32     rain
1  2/02/2001   45         65  no rain
2  5/12/2001   88         76     rain
3  6/06/2001   67         76  no rain

In [41]:
rows,columns=df2.shape

In [42]:
rows

4

In [43]:
columns

4

In [45]:
df.head(5)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [46]:
df.tail(45)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96408,2016-09-08 03:00:00.000 +0200,Partly Cloudy,rain,15.488889,15.488889,0.93,3.0268,359.0,15.1340,0.0,1018.63,Partly cloudy starting overnight.
96409,2016-09-08 04:00:00.000 +0200,Partly Cloudy,rain,16.066667,16.066667,0.93,3.2039,19.0,15.1340,0.0,1018.24,Partly cloudy starting overnight.
96410,2016-09-08 05:00:00.000 +0200,Mostly Cloudy,rain,16.738889,16.738889,0.90,10.6260,2.0,14.1680,0.0,1017.74,Partly cloudy starting overnight.
96411,2016-09-08 06:00:00.000 +0200,Mostly Cloudy,rain,16.988889,16.988889,0.88,4.8300,20.0,15.6492,0.0,1017.46,Partly cloudy starting overnight.
96412,2016-09-08 07:00:00.000 +0200,Mostly Cloudy,rain,17.616667,17.616667,0.85,3.4454,30.0,15.7297,0.0,1017.55,Partly cloudy starting overnight.
96413,2016-09-08 08:00:00.000 +0200,Mostly Cloudy,rain,18.927778,18.927778,0.78,7.8085,33.0,15.2628,0.0,1017.47,Partly cloudy starting overnight.
96414,2016-09-08 09:00:00.000 +0200,Partly Cloudy,rain,22.727778,22.727778,0.63,3.5742,39.0,16.0517,0.0,1017.43,Partly cloudy starting overnight.
96415,2016-09-08 10:00:00.000 +0200,Mostly Cloudy,rain,24.883333,24.883333,0.55,3.2683,134.0,16.1000,0.0,1017.43,Partly cloudy starting overnight.
96416,2016-09-08 11:00:00.000 +0200,Mostly Cloudy,rain,27.611111,27.655556,0.45,7.4060,57.0,15.5526,0.0,1017.11,Partly cloudy starting overnight.
96417,2016-09-08 12:00:00.000 +0200,Partly Cloudy,rain,28.766667,28.155556,0.37,13.5884,128.0,16.1000,0.0,1016.63,Partly cloudy starting overnight.
96418,2016-09-08 13:00:00.000 +0200,Partly Cloudy,rain,29.905556,29.033333,0.35,15.6975,100.0,16.1000,0.0,1016.41,Partly cloudy starting overnight.
96419,2016-09-08 14:00:00.000 +0200,Partly Cloudy,rain,30.605556,28.938889,0.24,19.1268,121.0,15.5526,0.0,1015.76,Partly cloudy starting overnight.
96420,2016-09-08 15:00:00.000 +0200,Partly Cloudy,rain,29.950000,28.405556,0.25,21.8155,160.0,16.1000,0.0,1015.23,Partly cloudy starting overnight.
96421,2016-09-08 16:00:00.000 +0200,Partly Cloudy,rain,29.972222,28.466667,0.26,12.3648,159.0,16.1000,0.0,1014.91,Partly cloudy starting overnight.
96422,2016-09-08 17:00:00.000 +0200,Partly Cloudy,rain,28.844444,27.600000,0.27,5.2808,124.0,15.5526,0.0,1014.37,Partly cloudy starting overnight.
96423,2016-09-08 18:00:00.000 +0200,Partly Cloudy,rain,27.800000,27.050000,0.32,3.0751,120.0,16.1000,0.0,1014.04,Partly cloudy starting overnight.
96424,2016-09-08 19:00:00.000 +0200,Partly Cloudy,rain,24.905556,24.905556,0.51,0.0000,0.0,16.1000,0.0,1014.14,Partly cloudy starting overnight.
96425,2016-09-08 20:00:00.000 +0200,Partly Cloudy,rain,22.366667,22.366667,0.58,3.3327,135.0,15.5526,0.0,1014.34,Partly cloudy starting overnight.
96426,2016-09-08 21:00:00.000 +0200,Mostly Cloudy,rain,21.016667,21.016667,0.64,3.2200,340.0,16.1000,0.0,1014.73,Partly cloudy starting overnight.
96427,2016-09-08 22:00:00.000 +0200,Partly Cloudy,rain,19.927778,19.927778,0.71,3.1556,302.0,16.1000,0.0,1014.63,Partly cloudy starting overnight.
96428,2016-09-08 23:00:00.000 +0200,Partly Cloudy,rain,18.350000,18.350000,0.77,3.2200,53.0,15.5526,0.0,1014.68,Partly cloudy starting overnight.
96429,2016-09-09 00:00:00.000 +0200,Partly Cloudy,rain,17.755556,17.755556,0.81,2.9624,12.0,16.1000,0.0,1014.65,Partly cloudy starting in the morning.
96430,2016-09-09 01:00:00.000 +0200,Clear,rain,16.622222,16.622222,0.87,3.4293,349.0,16.1000,0.0,1014.56,Partly cloudy starting in the morning.
96431,2016-09-09 02:00:00.000 +0200,Clear,rain,16.144444,16.144444,0.87,3.6547,16.0,15.1501,0.0,1014.69,Partly cloudy starting in the morning.
96432,2016-09-09 03:00:00.000 +0200,Clear,rain,15.594444,15.594444,0.87,3.2844,41.0,15.4399,0.0,1014.52,Partly cloudy starting in the morning.
96433,2016-09-09 04:00:00.000 +0200,Clear,rain,15.011111,15.011111,0.93,3.2039,341.0,15.8263,0.0,1014.37,Partly cloudy starting in the morning.
96434,2016-09-09 05:00:00.000 +0200,Clear,rain,15.016667,15.016667,0.90,2.7048,359.0,14.9569,0.0,1014.55,Partly cloudy starting in the morning.
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,13.872222,0.93,4.7495,0.0,15.8263,0.0,1014.66,Partly cloudy starting in the morning.
96436,2016-09-09 07:00:00.000 +0200,Clear,rain,16.072222,16.072222,0.88,2.7853,12.0,15.7297,0.0,1015.25,Partly cloudy starting in the morning.
96437,2016-09-09 08:00:00.000 +0200,Partly Cloudy,rain,19.561111,19.561111,0.75,3.7191,12.0,14.9569,0.0,1015.28,Partly cloudy starting in the morning.
96438,2016-09-09 09:00:00.000 +0200,Partly Cloudy,rain,22.138889,22.138889,0.65,7.7763,30.0,16.1000,0.0,1015.46,Partly cloudy starting in the morning.
96439,2016-09-09 10:00:00.000 +0200,Partly Cloudy,rain,22.872222,22.872222,0.59,6.4239,49.0,16.1000,0.0,1015.65,Partly cloudy starting in the morning.
96440,2016-09-09 11:00:00.000 +0200,Partly Cloudy,rain,27.072222,27.022222,0.42,12.0106,49.0,15.5526,0.0,1015.44,Partly cloudy starting in the morning.
96441,2016-09-09 12:00:00.000 +0200,Partly Cloudy,rain,28.866667,28.216667,0.37,13.9265,61.0,16.1000,0.0,1015.35,Partly cloudy starting in the morning.
96442,2016-09-09 13:00:00.000 +0200,Partly Cloudy,rain,30.994444,29.972222,0.33,15.6170,70.0,16.1000,0.0,1014.86,Partly cloudy starting in the morning.
96443,2016-09-09 14:00:00.000 +0200,Partly Cloudy,rain,30.894444,29.450000,0.28,14.7798,43.0,15.5526,0.0,1014.66,Partly cloudy starting in the morning.
96444,2016-09-09 15:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.616667,0.28,15.5043,40.0,16.1000,0.0,1014.17,Partly cloudy starting in the morning.
96445,2016-09-09 16:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.611111,0.28,13.8943,40.0,16.1000,0.0,1013.97,Partly cloudy starting in the morning.
96446,2016-09-09 17:00:00.000 +0200,Partly Cloudy,rain,30.766667,29.311111,0.28,14.2163,24.0,15.5526,0.0,1013.83,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21.0,16.1000,0.0,1014.07,Partly cloudy starting in the morning.
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [47]:
df[2:5]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [49]:
df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [50]:
df.Summary

0        Partly Cloudy
1        Partly Cloudy
2        Mostly Cloudy
3        Partly Cloudy
4        Mostly Cloudy
             ...
96448    Partly Cloudy
96449    Partly Cloudy
96450    Partly Cloudy
96451    Partly Cloudy
96452    Partly Cloudy
Name: Summary, Length: 96453, dtype: object

In [58]:
df[['Apparent Temperature (C)', 'Humidity']].head(10)

   Apparent Temperature (C)  Humidity
0                  7.388889      0.89
1                  7.227778      0.86
2                  9.377778      0.89
3                  5.944444      0.83
4                  6.977778      0.83
5                  7.111111      0.85
6                  5.522222      0.95
7                  6.527778      0.89
8                 10.822222      0.82
9                 13.772222      0.72

In [59]:
#works on numerical data
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [56]:
type('Formatted Date')

str

In [73]:
df[['Apparent Temperature (C)','Temperature (C)']][df['Temperature (C)']>32]

       Apparent Temperature (C)  Temperature (C)
732                   32.222222        32.172222
733                   31.272222        32.127778
735                   32.688889        32.538889
737                   32.511111        32.011111
952                   32.911111        32.172222
...                         ...              ...
92506                 32.883333        32.083333
92507                 32.072222        32.033333
92508                 33.361111        32.622222
92509                 32.800000        32.644444
92510                 32.538889        32.394444

[1587 rows x 2 columns]

In [62]:
df[df['Temperature (C)']==df['Temperature (C)'].max()]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
12759,2007-07-22 15:00:00.000 +0200,Clear,rain,39.905556,37.538889,0.13,23.5865,250.0,9.982,0.0,1007.55,Partly cloudy starting in the afternoon.

In [74]:
df.index

RangeIndex(start=0, stop=96453, step=1)

In [76]:
df.set_index('Formatted Date',inplace=True)

In [77]:
df

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
Formatted Date,,,,,,,,,,,
2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [79]:
df.reset_index(inplace=True)

In [80]:
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [86]:
df.set_index('Precip Type',inplace =True)

In [87]:
df

,Formatted Date,Summary,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
Precip Type,,,,,,,,,,
rain,2006-04-01 00:00:00.000 +0200,Partly Cloudy,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
rain,2006-04-01 01:00:00.000 +0200,Partly Cloudy,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
rain,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
rain,2006-04-01 03:00:00.000 +0200,Partly Cloudy,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
rain,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...
rain,2016-09-09 19:00:00.000 +0200,Partly Cloudy,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
rain,2016-09-09 20:00:00.000 +0200,Partly Cloudy,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
rain,2016-09-09 21:00:00.000 +0200,Partly Cloudy,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
rain,2016-09-09 22:00:00.000 +0200,Partly Cloudy,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
rain,2016-09-09 23:00:00.000 +0200,Partly Cloudy,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [88]:
df.loc['rain']

,Formatted Date,Summary,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
Precip Type,,,,,,,,,,
rain,2006-04-01 00:00:00.000 +0200,Partly Cloudy,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
rain,2006-04-01 01:00:00.000 +0200,Partly Cloudy,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
rain,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
rain,2006-04-01 03:00:00.000 +0200,Partly Cloudy,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
rain,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...
rain,2016-09-09 19:00:00.000 +0200,Partly Cloudy,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
rain,2016-09-09 20:00:00.000 +0200,Partly Cloudy,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
rain,2016-09-09 21:00:00.000 +0200,Partly Cloudy,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
rain,2016-09-09 22:00:00.000 +0200,Partly Cloudy,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
rain,2016-09-09 23:00:00.000 +0200,Partly Cloudy,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.